.grainy-gradient-intro:before {
  background: #c3ccea;
  filter: url(#f);
}

.grainy-gradient-intro:before, .grainy-gradient-intro:after {
  position: absolute;
  inset: 0;
  z-index: -1;
  --size: 55%;
  --transparency: 80%;
  --grad: radial-gradient(at 50%, red, rgba(255, 0, 0, 0.3) var(--size), transparent var(--transparency));
  --mask: var(--grad), var(--grad);
  -webkit-mask: var(--mask);
  -webkit-mask-composite: source-in;
  -webkit-mask: var(--mask);
  mask: var(--mask);
  -webkit-mask-composite: source-in, xor;
  mask-composite: intersect;
  mix-blend-mode: unset;
  content: "";
}

.grainy-gradient-intro:after {
  background: linear-gradient( 90deg, #760dfe 20%, #f51b26, #fd9900, #7AC74F, #DF99F0);
  background-size: 200% 100%;
  animation: gradient 15s ease infinite;
  height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#main {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-snap-stop: always;
  scroll-behavior: smooth;
}

#landing {
  position: relative;
}

#explore {
  margin: 0 25%;
  letter-spacing: 7px;
  font-size: 2vh;
}

#main > div {
  scroll-snap-align: start none;
}

#mainNav {
  height: 10vh;
  border-bottom: 3px solid var(--bs-body-color)
}

#mainBody {
  height: 70vh;
  border-bottom-width: 3px;
  border-bottom-style: solid; 
  position: relative;
}

#mainCards {
  height: 20vh;
  padding: 24px 10px; 
  color: white;
}

footer {
  scroll-snap-align: end none;
}

