body {
  overflow-x: hidden;
  font-family: Jost;
}

#lost-h {
  margin-left: -.25em;
  padding: .1em .25em;
  box-shadow: inset 25em 0em 0 .1px black;
  color: white!important;
}

/* Nav Bar Menu */

.blackout {
  color: black;
  box-shadow: inset 0em 0 black;
  transition: box-shadow 0.5s, color 0.5s;
}

.blackout:hover, .blackout.active {
  color: white!important;
  box-shadow: inset 10em 0 0 0.1px black;
  transition: box-shadow 0.5s, color 0.5s;
}

.card-link {
  text-decoration: none;
  color: white;
}

#excuses, .img-change {
  cursor: pointer;
}

#modal:not(.show) {
  display: none;
}

@media (min-width: 768px) {
  #profile-card {
    margin-top: 10%;
    font-size: 5vw;
  }
}

@media (min-width: 768px) {
  #modal.show {
    position: fixed;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 1;
  }
}

@media (max-width: 767px) {
  #profile-card {
    margin-top: 40%;
    font-size: 10vw;
  }
}

@media (max-width: 767px) {
  #profile-firstname {
    margin-top: 5%;
  }
}

@media (max-width: 767px) {
  .btn-group {
    margin: -3px 0px 7px;
  }
}

@media (min-width: 768px) {
  .card-design {
    cursor: pointer;
  }
}

/* Sections and Section Headers */

section {
  margin-top: 36px;
}

section > h1, section > div > div > h1 {
  border-bottom: 3px solid;
  width: fit-content;
  display: flex;
  margin: 12px;
  padding: 0px 12px;
}

.btn-group i {
  margin-right: 10px;
  display: inline!important;
}

.btn {
  box-shadow: none!important;
  outline: none!important;
}

/* Cards */

.card-hover {
  background-size: 200% 100%!important;
  background-position: left!important;
  transition: background-position ease 2s!important;
}

.card-hover:hover, .card-hover:active {
  background-position: right!important;
}

.card-blackout h4 {
  -webkit-box-decoration-break: clone;
  -o-box-decoration-break: clone;
  box-decoration-break: clone!important;
  white-space: pre-line;
  margin-left: -.25em;
  padding-left: .25em;
  padding-right: .25em;
  box-shadow: inset 0em 0 black;
  display: inline;
  transition: box-shadow 0.5s, color 0.5s;
}

.card-blackout:hover h4, {
  box-decoration-break: clone;
  box-shadow: inset 25em 0em 0 .1px black;
  color: white!important;
  transition: box-shadow 0.5s, color 0.5s;
}

.card-blackout {
  margin-bottom: 12px;
}

.card-blackout .row:first-of-type, .card-blackout.card-portfolio p {
  padding-top: .5em;
}

.card-blackout .row:last-of-type, .card-blackout.card-portfolio p {
  padding-bottom: .5em;
}

.card-hover h1 {
  color: black;
  display: inline;
  padding-left: .25em;
  box-shadow: inset 0em 0 black;
  transition: all 1s;
}

.card-hover:hover h1 {
  color: white;
  box-shadow: inset 10em 0 0 0.1px black;
}

.card-school {
  margin: 0px 10px;
  border-color: transparent;
}

/* @media (prefers-color-scheme: dark) {
  body {
    --bs-body-bg: dark;
    --bs-body-color: white;
  }
}

@media (prefers-color-scheme: dark) {
  .border-dark {
    border-color: white!important;
  }
}

@media (prefers-color-scheme: dark) {
  .card {
    background: transparent;
  }
} */

